 
 .speed-value {
  position: absolute;
  border: 2px solid #f05b41;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  left: 8%;
  line-height: 100px;
  top: 18%;
}
​
 .speed-value-span {
  font-size: 50px;
  font-weight: lighter;
  color: #f05b41;
}
