<ng-container *ngIf="userSettings$ | async; let userSettings"  #notAuthorized>
  <div class="details" *ngIf="store$ | async; let store">
    <div class="row" *ngIf="store.isLoading">
        <app-spinner></app-spinner>
    </div>
  </div>
<div class="close-wrapper-register" (click)="closedRegister()">
  <svg id="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      class="close-rotate"
      d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"
    ></path>
  </svg>
</div>
<div id="nubexDiv" class="noPadding d-sm-none d-none d-md-block overlay">
  <video muted autoplay loop id="myVideo">
    <source src="\mj\assets\video\bmw_rain2.mp4" />
  </video>
</div>
<div class="row">
  <div class="col-6 d-sm-none d-none d-md-block padma0">
    <div class="row align-items-center heightMax">
      <blockquote class="blockquote text-right">
        <h2>No Limit</h2>
        <footer class="blockquote-footer">
          Не важно с какой скоростью ты движешься к своей цели<br />
          — главное не останавливаться.<br /><cite
            class="SourceTitle"
            title="Source Title"
            >Конфуций (100+)</cite
          >
        </footer>
        <div class="social-wrap d-flex flex-column align-items-end">
          <p><small>Войти через социальные сети</small></p>
          <dx-button
            class="social-wrap-btn vk-dx-button"
            icon="fab fa-vk iconFLoat"
            type="normal"
            text="Войти через VK"
            width="33%"
          ></dx-button>
          <dx-button
            class="social-wrap-btn fb-dx-button"
            icon="fab fa-facebook-f iconFLoat"
            type="normal"
            text="Войти через Facebook"
            width="33%"
            (onClick)="launchFbLogin()"
          ></dx-button>
          <dx-button
          class="social-wrap-btn g-dx-button"
          icon="fab fa-google iconFLoat"
          type="normal"
          text="Войти через Google"
          width="33%"
        ></dx-button>
        </div>
      </blockquote>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 align-self-center padma0">
    <div class="right-wrapper">
      <div class="content-block dx-card register-content-block">
        <div class="row align-items-center heightMax">
          <div class="col-12">
            <form (submit)="register()">
            <dx-form
              id="form"
              class="align-self-center"
              name = "dxformName"

              [showValidationSummary]="true"
              (onFieldDataChanged)="propChangeHandler($event)"
            >
              <dxi-item itemType="group" cssClass="first-group" [colCount]="4">
                <dxi-item itemType="group" [colSpan]="1"> </dxi-item>
                <dxi-item itemType="group" [colSpan]="2" caption="Регистрация">
                  <dxi-item  name="name" dataField="userName">
                    <dxo-label text="Логин"> </dxo-label>
                    <dxi-validation-rule
                      type="required"
                      message="Логин обязательное поле"
                    >
                    </dxi-validation-rule>
                  </dxi-item>
                  <dxi-item  name="name" dataField="Email">
                    <dxo-label text="Email"> </dxo-label>
                    <dxi-validation-rule
                      type="required"
                      message="Email обязательное поле"
                    >
                    </dxi-validation-rule>
                    <dxi-validation-rule
                      type="email"
                      message="Email не валиден"
                    >
                    </dxi-validation-rule>
                  </dxi-item>
                  <dxi-item
                    dataField="password"
                    [editorOptions]="{ mode: 'password' }"
                  >
                  <dxo-label text="Пароль"> </dxo-label>
                    <dxi-validation-rule
                      type="required"
                      message="Пароль обязательное поле"
                    >
                    </dxi-validation-rule
                  ></dxi-item>
                  <dxi-item
                    editorType="dxTextBox"
                    [editorOptions]="{ mode: 'password' }"
                  >
                    <dxo-label text="Подтвердите пароль"> </dxo-label>
                    <dxi-validation-rule
                      type="required"
                      message="Подтвердите пароль обязательное поле"
                    >
                    </dxi-validation-rule>
                    <dxi-validation-rule
                      type="compare"
                      [comparisonTarget]="passwordComparison"
                      message="Пароли не совпадают"
                    >
                    </dxi-validation-rule>
                  </dxi-item>
                  <dxi-item
                    itemType="simple"
                    dataField="Accepted"
                    editorType="dxCheckBox"
                    [editorOptions]="{
                      text: 'Я принимаю условия пользовательского соглашения',
                      value: false
                    }"
                  >
                    <dxo-label [visible]="false"> </dxo-label>
                    <dxi-validation-rule
                      type="compare"
                      [comparisonTarget]="checkComparison"
                      message="Для регистрации необходимо принять условия пользовательского соглашения."
                    >
                    </dxi-validation-rule>
                  </dxi-item>
                </dxi-item>
              </dxi-item>
              <dxi-item
                  type="normal"
                  itemType="button"
                  width="45%"
                  horizontalAlignment="center"
                  [buttonOptions]="registerButtonOptions">
              </dxi-item>
            </dx-form>
          </form>
<div *ngIf="store$ | async; let store">
<p class="saveErr" *ngIf="store.isSaveError">{{store.saveError.message}}</p>
</div>

            <div class="d-sm-block d-md-none">
              <!--Responsive-->

              <div
                class="social-wrap-md-none d-flex flex-column align-items-center">

                <p><small>Войти через социальные сети</small></p>
                <dx-button
                  class="social-wrap-btn vk-dx-button"
                  icon="fab fa-vk iconFLoat"
                  type="normal"
                  text="VK"
                  width="33%"
                ></dx-button>
                <dx-button
                  class="social-wrap-btn fb-dx-button"
                  icon="fab fa-facebook-f iconFLoat"
                  type="normal"
                  text="Facebook"
                  width="33%"
                ></dx-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<dx-popup
[width]="300"
[height]="250"
[showTitle]="true"
title="Information"
[dragEnabled]="false"
[closeOnOutsideClick]="true"
[(visible)]="fbpopupVisible">
<div *dxTemplate="let data of 'content'">
<app-face-book-register *ngIf="fbpopupVisible"></app-face-book-register>
</div>
</dx-popup>
</ng-container>
