<app-race-lobby (onRaceEvent)="raceEvent($event)"></app-race-lobby>
<ng-container *ngIf="store$ | async; let store">
  <div *ngIf="selected">
  </div>
  <div *ngIf="rEvent == 1">
    <app-google-map-race [receEvent]="rEvent" [startEventDotted]="mapEvent"  userNavItemImg={{store.userprofileimagesresized}} mainIdCardElement="raceMap"></app-google-map-race>
  </div>
  <div *ngIf="rEvent == 2">
    <app-google-map-race [receEvent]="rEvent" [startEventDotted]="mapEvent"  userNavItemImg={{store.userprofileimagesresized}} mainIdCardElement="raceMap"></app-google-map-race>
  </div>
  <div *ngIf="rEvent == 3">
    123
    <app-google-map-race [receEvent]="rEvent" [startEventDotted]="mapEvent"  userNavItemImg={{store.userprofileimagesresized}} mainIdCardElement="raceMap"></app-google-map-race>
  </div>
</ng-container>
