<ng-container *ngIf="store$ | async; let store">
  <dx-tab-panel
    [selectedIndex]="1"
    [animationEnabled]="true"
    (onSelectionChanged)="onCreateSpeedRun($event)"
    [swipeEnabled]="false"
  >
    <dxi-item title="Мир">
      <app-main-map
        [tabSelected]="checkbool(store.istabselected, 'Мир')"
      ></app-main-map>
    </dxi-item>
    <dxi-item title="Мои">
      <app-lobby-main-map
        [tabSelected]="checkbool(store.istabselected, 'Мои')"
      ></app-lobby-main-map>
    </dxi-item>
  </dx-tab-panel>
</ng-container>
